body {
    display: grid;
    height: 100vh;
    background: white;
    place-items: center;
    margin: 0;
 /*   animation: color-change-5x 15s ease-in infinite both; */
}
@keyframes color-change-5x {
    0% {
      background: #FFF176;
    }
    25% {
      background: #F9A825;
    }
    50% {
      background: #ea2222;
    }
    75% {
        background: #212121;
    }
    100% {
        background: #FFF59D;
    }
  }
  

.container {
    display: flex;
    position: relative;
    justify-content: center;
}

.trafficlight {
    width: 150px;
    height: 350px;
    border: 10px solid black;
    border-radius: 5%;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: 10px;


}
/* Pole */

/* Lights */
.redlight, .yellowlight, .greenlight, .walklight {
    width: 90px;
    height: 90px;
    position: relative;
    border: 5px solid black;
    border-radius: 50%;
    
    background: gray;
}

.redlight{
  
    background: red;
}
.yellowlight {
   
    background: yellow;
}

.greenlight {
  
    background: green;
}
.walklight{
padding-top: 25px;
}
